.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  margin: 12px 0 0;
  font-size: 20px;
  line-height: 24px;
  color: #151515;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards {
    padding-bottom: 20px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    margin: 0 auto;
    gap: 20px;
  }
}
