.cards {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #21212166;
}

.card__like-button {
  margin-top: 12px;
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  background-image: url(../images/BlackHeart-Icon.svg);
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
