.cards {
  padding-top: 20px;
}

.card__title {
  margin: 12px 0 0;
  font-size: 20px;
  line-height: 24px;
  color: #151515;
}

.cards__list {
  margin-bottom: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 413px);
  justify-content: center;
  gap: 40px 20px;
}
@media screen and (min-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(3, 413px);
  }
}

@media screen and (min-width: 880px) and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 413px);
  }
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fill, 288px);
    margin: 0 auto;
  }
}
